
  .loader_1 {
    width: 50px;
    height: 12px;
    --_g: no-repeat radial-gradient(farthest-side,#fff 94%,#fff);
    background:
      var(--_g) left,
      var(--_g) right;
    background-size: 12px 12px;
    position: relative;
  }
  .loader_1:before {
    content: "";
    position: absolute;
    height: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #fff;
    inset: 0;
    margin: auto;
    animation: l25-1 1s, l25-2 0.5s;
    animation-timing-function: cubic-bezier(.5,-900,.5,900);
    animation-iteration-count: infinite;
  }
  @keyframes l25-1 {
    100% {transform:translate(0.12px)}
  }
  @keyframes l25-2 {
    100% {inset:-0.15px 0 0;}
  }